@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.product-main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product-card {
  width: 300px;
  margin: 20px auto;
  background-color: #f0f0f0;
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 15px solid #cccccc; 
  border-image-source: url(./assets/images/border-image.png);
  border-image-slice: 30;
  border-image-repeat: round;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 8px 80px #008cff80;
  cursor: pointer;
  background-color: #ebe6e6;
}

.product-card:hover .product-price {
  visibility: visible;
}
.product-card:hover .product-title {
  text-shadow: 0 0 11px #008cff; 
  color: #f0e9e9;
}

.product-card:hover img {
  box-shadow: 0 0 20px #008cff80;
  transform: scale(1.05, 1.05);
  background-color: #e0e0e0;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block; 
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.product-title {
  font-size: 24px; 
  text-align: center;
  margin-top: 10px;
  font-family: "Aladin", system-ui;
  margin-bottom: 10px;
  transition: all 0.3s ease-in;
}

.product-description {
  max-height: 100px;
  font-weight: bolder;
  overflow-y: auto;
  font-size: 14px;
  font-family: "Italiana", sans-serif;
  font-weight: bolder;
  line-height: 1.4;
  margin-bottom: 15px;
  transition: all 0.3s ease-in;
}

.product-price {
  visibility: hidden;
  font-size: 22px;
  font-weight: bold;
  color: #f0e9e9;
  text-shadow: 0 0 11px #008cff;
  margin-top: auto; 
  transition: all 0.3s ease-in-out;
}


button {
  margin: 20px 0;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-family: "Aladin", system-ui;
  font-weight: 500;
  color: grey;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid grey;
  transition: 0.5s ease;
  user-select: none;
}

.product-buy:hover,
:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}
